:root{
    --purple-color: #B602FF;
    --dark-color: #000000;
    --purple2-color: #540175;
}

body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple2-color);
}

ol,
ul{
    padding-left: 30px;
}

.board-row:after{
    clear: both;
    content: "";
    display: table;
}

.status{
    margin-bottom: 10px;
}

.square {
    background: var(--purple-color);
    border: 2px solid var(--dark-color);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus{
    outline: none;
}

.kbd-navagation .square:focus{
    background: var(--purple2-color);
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info{
    margin-left: 20px;
}